body {
  color: gray;
  font-family: monospace;
  background-color: beige;
}
main {
  color: gray;
}

.black-border {
  border: 1px solid blue;
}

#size {
  font-size: 35px; font-style: italic;
}
#white-background {
  background-color: white;
}

a {
  color: black;
}

a:active {
  color: blue;
}

a[tabindex]:focus {
  color: blue;
  outline: none;
}
